[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
albumentations = "==0.1.2"
numpy = "*"
opencv-python = "==3.4.9.33"
pandas = "*"
mask-rcnn = {editable = true,git = "https://github.com/matterport/Mask_RCNN.git"}
tensorflow = "==1.15.2"
keras = "==2.1.0"
flask = "*"
werkzeug = "*"
gunicorn ="*"
datumaro = {git = "https://github.com/opencv/cvat",subdirectory = "datumaro"}
xmltodict = "*"
imagecodecs = "*"

[requires]
python_version = "3.7"
