main {
    padding-top: 5.5rem;
}

img {
    max-height: 50%;
    max-width: 50%;
    height: auto;
    width: auto;
    padding-bottom: 5px;
}

#img-block {
    padding-top: 10px;
    padding-bottom: 10px;
}

#upload-form {
    padding-top: 1rem;
}
